In [4]:
import numpy as np
import pandas as pd

In [65]:
sal = pd.read_csv('ds_salaries.csv')

In [52]:
sal.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

** Top 3 paying job per title. **

In [86]:
sal.groupby('job_title')['salary_in_usd'].max().sort_values(ascending=False)

job_title
Principal Data Engineer                     600000
Financial Data Analyst                      450000
Research Scientist                          450000
Applied Machine Learning Scientist          423000
Principal Data Scientist                    416000
Data Scientist                              412000
Data Analytics Lead                         405000
Applied Data Scientist                      380000
Director of Data Science                    325000
Data Engineer                               324000
Lead Data Engineer                          276000
ML Engineer                                 270000
Data Architect                              266400
Machine Learning Scientist                  260000
Machine Learning Engineer                   250000
Data Science Manager                        241000
Head of Data                                235000
Head of Data Science                        224000
Analytics Engineer                          205300
Data Analyst                                200000
AI Scientist                                200000
Director of Data Engineering                200000
Machine Learning Infrastructure Engineer    195000
Lead Data Scientist                         190000
Data Engineering Manager                    174000
Principal Data Analyst                      170000
Lead Data Analyst                           170000
Data Specialist                             165000
Cloud Data Engineer                         160000
Data Analytics Manager                      150260
BI Data Analyst                             150000
Computer Vision Software Engineer           150000
Business Data Analyst                       135000
Data Science Engineer                       127221
Computer Vision Engineer                    125000
Machine Learning Manager                    117104
Big Data Engineer                           114047
Data Analytics Engineer                     110000
Staff Data Scientist                        105000
Data Science Consultant                     103000
Machine Learning Developer                  100000
Big Data Architect                           99703
Marketing Data Analyst                       88654
Lead Machine Learning Engineer               87932
Head of Machine Learning                     79039
Finance Data Analyst                         61896
ETL Developer                                54957
NLP Engineer                                 37236
Product Data Analyst                         20000
3D Computer Vision Researcher                 5409
Name: salary_in_usd, dtype: int64

** Number of employees per country (top 10)  **

In [58]:
sal['employee_residence'].value_counts().head(10)

US    332
GB     44
IN     30
CA     29
DE     25
FR     18
ES     15
GR     13
JP      7
PT      6
Name: employee_residence, dtype: int64

** Number of senior employees per country (top 5) **

In [73]:
sal[sal['experience_level']=='SE']['employee_residence'].value_counts().head(5)

US    211
CA     14
GB      9
DE      7
IN      5
Name: employee_residence, dtype: int64

** Average salary per experience level **

In [88]:
sal.groupby('experience_level')['salary_in_usd'].mean().sort_values(ascending=False).round()

experience_level
EX    199392.0
SE    138617.0
MI     87996.0
EN     61643.0
Name: salary_in_usd, dtype: float64

** Top 3 most common jobs **

In [91]:
sal['job_title'].value_counts().head(3)

Data Scientist    143
Data Engineer     132
Data Analyst       97
Name: job_title, dtype: int64