In [94]:
import pandas as pd
plt = pd.read_csv('EPL_standings_2000-2022.csv')

In [101]:
plt.head()

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
1,2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2,2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
3,2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
4,2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]

In [ ]:
# Top 3 teams with the highest number of points since 2000/01

In [96]:
plt.groupby('Team')['Pts'].sum().sort_values(ascending=False).head(3)

Team
Manchester United    1698
Chelsea              1665
Arsenal              1603
Name: Pts, dtype: int64

In [ ]:
# Teams with highest number of titles since 2000/01

In [117]:
plt.groupby('Team')['Pos'].apply(lambda x: (x==1).sum()).sort_values(ascending=False).head()

Team
Manchester United    7
Manchester City      6
Chelsea              5
Arsenal              2
Leicester City       1
Name: Pos, dtype: int64

In [ ]:
# Which teams got relegated the most?

In [116]:
plt[plt['Qualification or relegation'].str.contains('Relegation')]['Team'].value_counts().head()

Norwich City            5
West Bromwich Albion    5
Hull City               3
Burnley                 3
Sunderland              3
Name: Team, dtype: int64

In [ ]:
# Average number of points won per team?

In [121]:
plt.groupby('Team')['Pts'].mean().sort_values(ascending=False).round().head(10)

Team
Manchester United    77.0
Chelsea              76.0
Arsenal              73.0
Liverpool            72.0
Manchester City      69.0
Tottenham Hotspur    62.0
Everton              54.0
Leeds United         52.0
Ipswich Town         51.0
Leicester City       50.0
Name: Pts, dtype: float64

In [ ]:
# Teams with the highest number of loses?

In [128]:
plt.groupby('Team')['L'].sum().sort_values(ascending=False).head()

Team
Newcastle United    307
West Ham United     303
Aston Villa         287
Everton             287
Sunderland          266
Name: L, dtype: int64

In [ ]:
# What is the best season finish position aciheved by Charlton Athletic?

In [137]:
plt[plt['Team']=='Charlton Athletic']['Pos'].sort_values().head(1)

66    7
Name: Pos, dtype: int64

In [ ]:
# In season 2008/09, which team ended up on the 7th place?

In [221]:
plt[(plt['Season'] == '2008-09') & (plt['Pos'] == 7)]['Team']

166    Fulham
Name: Team, dtype: object